/* HeroDetailComponent's private CSS styles */
h2 {
  text-decoration: underline;
}
label {
  color: #435960;
  font-weight: bold;
}
.span {
  text-transform: uppercase;
}

input {
  font-size: 1em;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid black;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: .5rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid black;
}
button:hover {
  background-color: #435960;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.stat {
  margin: 10px 0 10px;
}
